<div class="logon-container">
    <section class="form">
        <img class="form" src="assets/img/logo.svg" alt="Be The Hero" />
        <form [formGroup]="formLogon">
            <h1>Faça o Login</h1>
            <input placeholder="ID visitantes: 2a057067" type="text" formControlName="id" />
            <button class="button" [disabled]="!formLogon.valid" (click)="logon()" type="submit" 
            [routerLink]="['/cases']">Entrar</button>
            <a class="back-link" [routerLink]="['/register']">
                <i-feather name="arrow-left-circle">
                </i-feather>
                Não tenho login
            </a>
        </form>
    </section>
    <img class="form" src="assets/img/heroes.png" alt="Heroes" />
</div>