<div class="logon-container">
    <section class="form">
        <img class="form" src="assets/img/logo.svg" alt="Be The Hero" />
        <form class="form">
            <h1>Faça o Login</h1>
            <input 
            placeholder="ID visitantes: 2a057067" 
            />
            <button class="button" type="submit">Entrar</button>
            <link class="back-link" to="/register" />
            <i-feather name="arrow-left-circle">
            </i-feather>
            Não tenho login
        </form>
    </section>
    <img class="form" src="assets/img/heroes.png" alt="Heroes" />
</div>